.sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #0F172A;
}

.sidebar img{
    margin-bottom: 30px;
    padding: 1rem;
    width: 150px;
}

.menu{
    list-style: none;
}

.menu li{
    margin: 10px 0;
}

li a{
    display: block;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.3s;

}

.menu a:hover {
    background: #06B6D4;
    color: #fff;
    box-shadow: 0 0 15px rgba(6, 182, 212, 0.3) , 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#home{
   display: flex;
   flex: 1;
   height: 100vh;
   min-width: 0;
   background-color: #0F172A;
}

.content-home{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0.5rem;
    border: 2px solid #000;
    border-radius: 5px;
    color: #1E293B;
    background-color: #F1F5F9;
}

.heading{
    background-color: #fff;
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.mini-container{
   width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 2px solid black;
    background-color: #0F172A;
}

.mini-tracker,
.mini-chatbot{
   flex: 1;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   font-size: 20px;
   border: 2px solid #06B6D4;
   margin: 1rem;
   border-radius: 5px;
   background-color: #0F172A;
}

.mini-chatbot,
.mini-tracker h2{
    color: #E2E8F0;
}

.mini-tracker img{
    width: 200px;
}

.mini-chatbot img{
    width: 200px;
}

@media (max-width: 480px) {
    .sidebar {
        width: 15%;
        overflow-x: hidden;
    }

    .menu a {
        display: flex;
        justify-content: center;
    }

    .menu a span {
        display: none;
    }

    .page-icon {
        display: block;
        font-size: 1.4rem;
    }

    .sidebar img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}
