#home{
   display: flex;
   flex: 1;
   height: 100vh;
   min-width: 0;
   background-color: #0F172A;
}

.content-home{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #000; */
    color: #1E293B;
    background-color: #F1F5F9;
}

.heading{
    background-color: #fff;
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.mini-container{
   width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 2px solid black;
    background-color: #0F172A;
}

.mini-tracker,
.mini-chatbot{
   flex: 1;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   font-size: 20px;
   border: 2px solid #06B6D4;
   margin: 1rem;
   border-radius: 5px;
   background-color: #0F172A;
}

.mini-chatbot,
.mini-tracker h2{
    color: #E2E8F0;
}

.mini-tracker img{
    width: 200px;
}

.mini-chatbot img{
    width: 200px;
}


