.sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: #0F172A;
}

.sidebar img{
    margin-bottom: 30px;
    padding: 1rem;
    width: 150px;
}

.menu{
    list-style: none;
}

.menu li{
    margin: 10px 0;
}

li a{
    display: block;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.5s;

}

.menu a:hover {
    background: #06B6D4;
    color: #fff;
    box-shadow: 0 0 15px rgba(6, 182, 212, 0.3) , 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

